<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
           Name="DAMP"
           Language="1033"
           Version="!(bind.FileVersion.MainExecutable)"
           Manufacturer="PickleBoxer"
           UpgradeCode="12345678-1234-1234-1234-123456789012">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Description="DAMP - Docker Apache MySQL PHP Manager" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="DAMP" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ServiceComponents" />
    </Feature>

    <!-- UI Configuration -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="!(wix.WixUILicenseRtf)" />

  </Product>

  <!-- Directory Structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="DAMP">
          <Directory Id="ServiceFolder" Name="Service" />
        </Directory>
      </Directory>

      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="DAMP"/>
      </Directory>

      <!-- Desktop -->
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
  </Fragment>

  <!-- Application Components -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Main application files will be added by Electron Forge -->
      <Component Id="MainExecutable" Guid="*">
        <File Id="MainExecutable"
              Source="!(wix.SourceDir)\DAMP.exe"
              KeyPath="yes">
          <Shortcut Id="ApplicationStartMenuShortcut"
                    Directory="ApplicationProgramsFolder"
                    Name="DAMP"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="AppIcon"
                    IconIndex="0"
                    Advertise="yes" />
          <Shortcut Id="ApplicationDesktopShortcut"
                    Directory="DesktopFolder"
                    Name="DAMP"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="AppIcon"
                    IconIndex="0"
                    Advertise="yes" />
        </File>
      </Component>

      <!-- Remove shortcuts on uninstall -->
      <Component Id="ApplicationShortcutCleanup" Guid="*">
        <RemoveFolder Id="RemoveApplicationProgramsFolder"
                      Directory="ApplicationProgramsFolder"
                      On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software\DAMP"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- Service Components -->
  <Fragment>
    <ComponentGroup Id="ServiceComponents" Directory="ServiceFolder">

      <!-- Service Executable -->
      <Component Id="ServiceExecutable" Guid="*">
        <File Id="ServiceExe"
              Source="!(wix.SourceDir)\Service\DAMPHostsService.exe"
              KeyPath="yes" />

        <!-- Install Windows Service -->
        <ServiceInstall
          Id="DAMPHostsServiceInstall"
          Name="DAMPHostsService"
          DisplayName="DAMP Hosts Service"
          Description="Manages hosts file entries for DAMP application. Required for DAMP to function properly."
          Type="ownProcess"
          Start="auto"
          ErrorControl="normal"
          Account="LocalSystem" />

        <!-- Service Control -->
        <ServiceControl
          Id="DAMPHostsServiceControl"
          Name="DAMPHostsService"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>

      <!-- Service Configuration Files -->
      <Component Id="ServiceConfig" Guid="*">
        <File Id="ServiceXml"
              Source="!(wix.SourceDir)\Service\DAMPHostsService.xml" />
        <File Id="ServiceExeConfig"
              Source="!(wix.SourceDir)\Service\DAMPHostsService.exe.config" />
      </Component>

      <!-- Service Script -->
      <Component Id="ServiceScript" Guid="*">
        <File Id="ServiceMainJs"
              Source="!(wix.SourceDir)\Service\service-main.js"
              KeyPath="yes" />
      </Component>

    </ComponentGroup>
  </Fragment>

  <!-- Application Icon -->
  <Fragment>
    <Icon Id="AppIcon" SourceFile="!(wix.SourceDir)\icon.ico" />
  </Fragment>

</Wix>
